// Header
@mixin getHeaderLogoTop {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeHeaderLogoTop;
    line-height: $lineHeightHeaderLogoTop;
    color: $colorHeaderLogoTop;
}
@mixin getHeaderLogoBottom {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeHeaderLogoBottom;
    line-height: $lineHeightHeaderLogoBottom;
    color: $colorHeaderLogoBottom;
}
@mixin getHeaderNav {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeHeaderNav;
    line-height: $lineHeightHeaderNav;
    color: $colorHeaderNav;
}
@mixin getHeaderNavHover {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeHeaderNav;
    line-height: $lineHeightHeaderNav;
    color: $colorHeaderNav;
    background-color: $bgHeaderNavHover;
    border-radius: $borderRadiusHeaderNavHover;
}
@mixin getHeaderTitle {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeHeaderTitle;
    line-height: $lineHeightHeaderTitle;
    color: $colorHeaderTitle;
    font-weight: 400;
}
@mixin getHeaderText {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeHeaderText;
    line-height: $lineHeightHeaderText;
    color: $colorHeaderText;
}
@mixin getHeaderLink {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeHeaderLink;
    line-height: $lineHeightHeaderLink;
    color: $colorHeaderLink;
    background-color: $bgHeaderLink;
    border-radius: $borderRadiusHeaderLink;
}
@mixin getHeaderLinkHover {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeHeaderLink;
    line-height: $lineHeightHeaderLink;
    color: $colorHeaderLinkHover;
}
@mixin getHeaderLinkHover {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeHeaderLink;
    line-height: $lineHeightHeaderLink;
    color: $colorHeaderLinkHover;
    background-color: $bgHeaderLink;
    border-radius: $borderRadiusHeaderLink;
}

// Main
@mixin getMainTitleCards {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeMainTitleCards;
    line-height: $lineHeightMainTitleCards;
    color: $colorMainTitleCards;
    text-align: center;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 21px;
}
@mixin getMainTitleCardsHover {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeMainTitleCards;
    line-height: $lineHeightMainTitleCards;
    color: $colorMainTitleCardsHover;
    text-align: center;
    font-weight: 400;
}
@mixin getMainTextCards {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeMainTextCards;
    line-height: $lineHeightMainTextCards;
    color: $colorMainTextCards;
    text-align: center;
}
@mixin getMainTextCardsHover {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeMainTextCards;
    line-height: $lineHeightMainTextCards;
    color: $colorMainTextCardsHover;
    text-align: center;
}
@mixin getMainMiddle {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeMainTitleMiddle;
    line-height: $lineHeightMainTitleMiddle;
    color: $colorMainTitleMiddle;
    background-color: $bgMainTitleMiddle;
    border-radius: $borderRadiusMainTitleMiddle;
    font-weight: 400;
    text-align: center;
}
@mixin getMainFigureCaption {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeMainFigureCaption;
    line-height: $lineHeightMainFigureCaption;
    color: $colorMainFigureCaption;
    background-color: $bgMainFigureCaption;
    text-align: center;
}
@mixin getMainCards {
    background-color: $bgMainCards;
}
@mixin getMainCardsHover {
    background-color: $bgMainCardsHover;
}
@mixin getMainFigure {
    border: $borderMainFigure;
}
@mixin getMainFigureHover {
    border: $borderMainFigureHover;
}

// Section
@mixin getSectionTitle {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionTitle;
    line-height: $lineHeightSectionTitle;
    color: $colorSectionTitle;
    font-weight: 400;
}
@mixin getSectionFirstColPostTitle {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionFirstColPostTitle;
    line-height: $lineHeightSectionFirstColPostTitle;
    color: $colorSectionFirstColPostTitle;
    font-weight: 400;
}
@mixin getSectionFirstColAdmin {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionFirstColAdmin;
    line-height: $lineHeightSectionFirstColAdmin;
    color: $colorSectionFirstColAdmin;
    font-weight: 400;
}
@mixin getSectionFirstColAdminSpan {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionFirstColAdminSpan;
    line-height: $lineHeightSectionFirstColAdminSpan;
    color: $colorSectionFirstColAdminSpan;
    font-weight: 400;
}
@mixin getSectionFirstColData {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionFirstColData;
    line-height: $lineHeightSectionFirstColData;
    color: $colorSectionFirstColData;
    font-weight: 400;
}
@mixin getSectionFirstColText {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionFirstColText;
    line-height: $lineHeightSectionFirstColText;
    color: $colorSectionFirstColText;
}
@mixin getSectionFirstColLink {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionFirstColLink;
    line-height: $lineHeightSectionFirstColLink;
    color: $colorSectionFirstColLink;
}
@mixin getSectionFirstColLinkHover {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionFirstColLink;
    line-height: $lineHeightSectionFirstColLink;
    color: $colorSectionFirstColLinkHover;
}
@mixin getSectionSecondColLink {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionSecondColLink;
    line-height: $lineHeightSectionSecondColLink;
    color: $colorSectionSecondColLink;
}
@mixin getSectionSecondColLinkHover {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionSecondColLink;
    line-height: $lineHeightSectionSecondColLink;
    color: $colorSectionSecondColLinkHover;
}
@mixin getSectionSecondColLinkSpan {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionSecondColLink;
    line-height: $lineHeightSectionSecondColLink;
    color: $colorSectionSecondColLinkSpan;
}
@mixin getSectionThirdColText {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionThirdColText;
    line-height: $lineHeightSectionThirdColText;
    color: $colorSectionThirdColText;
}
@mixin getSectionThirdColTextSpan {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionThirdColText;
    line-height: $lineHeightSectionThirdColText;
    color: $colorSectionThirdColTextSpan;
}
@mixin getSectionFourthColLable {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionFourthColLable;
    line-height: $lineHeightSectionFourthColLable;
    color: $colorSectionFourthColLable;
}
@mixin getSectionFourthColInputText {
    background-color: $bgSectionFourthColInputText;
    border-radius: $borderRadiusSectionFourthColInputText;
    border: none;
}
@mixin getSectionFourthColSubmit {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionFourthColSubmit;
    line-height: $lineHeightSectionFourthColSubmit;
    color: $colorSectionFourthColSubmit;
    background-color: $bgSectionFourthColSubmit;
    border-radius: $borderRadiusSectionFourthColSubmit;
    border: none;
}
@mixin getSectionFourthColSubmitHover {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeSectionFourthColSubmit;
    line-height: $lineHeightSectionFourthColSubmit;
    color: $colorSectionFourthColSubmitHover;
    background-color: $bgSectionFourthColSubmit;
    border-radius: $borderRadiusSectionFourthColSubmit;
}

// Footer
@mixin getFooterText {
    font-family: $fontFamilyBasic;
    font-size: $fontSizeFooterText;
    line-height: $lineHeightFooterText;
    color: $colorFooterText;
}