@import "variables.scss";
@import "mixins.scss";
@import "normolize.css";
@font-face {
    font-family: 'Georgia', serif;
    src: url("../assets/fonts/ofont.ru_Georgia.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    &:visited {
        color: inherit;
    }
}
ul {
    list-style: none;
}



.mainWrapper {
    .firstWrapper {
        border-top: $borderTopFirstWrapper;
        background-color: $bgFirstWrapper;
        header {
            display: flex;
            flex-flow: column wrap;
            max-width: 960px;
            margin: 0 auto;
            .headerWrapperLogoNav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .headerLogo {
                    padding: 40px 0;
                    .headerLogoTop {
                        @include getHeaderLogoTop;
                    }
                    .headerLogoBottom {
                        @include getHeaderLogoBottom;
                    }
                }
                .headerNav {
                    .headerNavLinks {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .headerNavLink {
                            padding: 11px 18px;
                            @include getHeaderNav;
                            &:hover {
                                padding: 11px 18px;
                                @include getHeaderNavHover;
                            }
                        }
                        .active {
                            @include getHeaderNavHover;
                        }
                    }
                }
            }
            .carousel-wrapper{
                min-height: 430px;
                width: 100%;
                margin: 0 auto 50px;
                position: relative;
                .carousel-item{
                    width: 100%;
                    position: absolute;
                    top:0;
                    left:0;
                    padding: 0 60px;
                    opacity:0;
                    transition: all 0.5s ease-in-out;
                    .sliderContent {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                        align-content: space-between;
                        .sliderContentText {
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: start;
                            align-content: center;
                            width: 300px;
                            .headerTitle {
                                margin-bottom: 30px;
                                @include getHeaderTitle;
                            }
                            .headerText {
                                margin-bottom: 20px;
                                @include getHeaderText;
                            }
                            .headerLink {
                                padding: 11px 16px;
                                @include getHeaderLink;
                                &:hover {
                                    @include getHeaderLinkHover;
                                }
                            }
                        }
                        .sliderContentImg {
                            img {
                                width: 430px;
                                height: 430px;
                                object-fit: cover;
                                border: $borderHeader;
                                border-radius: $borderRadiusHeader;
                            }
                        }
                    }
                    .arrow{
                        display: block;
                        position: absolute;
                        top: 50%;
                        width: 15px;
                        p {
                            position: absolute;
                            top: 40%;
                            color: $bgHeaderLink;
                            font-size: 25px;
                            &:hover {
                                color: white;
                            }
                        }
                        &.arrow-prev {
                            left: 0;
                            p {
                                position: absolute;
                                left: 45%;
                            }
                        }
                        &.arrow-next{
                            right:0;
                            p {
                                position: absolute;
                                right: 45%;
                            }
                        }
                    }
                }
                [id^="target-item"]{
                    display:none;
                }
                .item-1{
                    z-index:2;
                    opacity:1;
                }
                *:target~.item-1{ 
                    opacity:0;
                }
                #target-item-1:target~.item-1{
                    opacity:1;
                }
                #target-item-2:target~.item-2, #target-item-3:target~.item-3, #target-item-4:target~.item-4{
                    z-index:3;
                    opacity:1;
                }
            }
            
        }
        @media (max-width: 480px) {
            header {
                .headerWrapperLogoNav {
                    flex-flow: column wrap;
                    .headerLogo {
                        padding: 10px 0;
                    }
                    .headerNav {
                        .headerNavLinks {
                            flex-flow: column wrap;
                        }
                    }
                }
                .carousel-wrapper{
                    margin-bottom: 0;
                    min-height: 340px;
                    .carousel-item{
                        .sliderContent {
                            flex-flow: column-reverse wrap;
                            align-content: center;
                            .sliderContentText {
                                justify-content: center;
                                align-content: center;
                                width: 200px;
                                .headerTitle {
                                    margin-bottom: 25px;
                                    font-size: 20px;
                                    line-height: 20px;
                                    text-align: center;
                                }
                                .headerText {
                                    display: none;
                                }
                            }
                            .sliderContentImg {
                                margin-top: 15px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img {
                                    width: 180px;
                                    height: 180px;
                                    border: 8px solid rgb(107, 107, 107);
                                }
                            }
                        }
                        .arrow{
                            width: 50px;
                        }
                    }
                }
            }
        }
        @media (min-width: 481px) and (max-width: 611px) {
            header {
                .headerWrapperLogoNav {
                    flex-flow: column wrap;
                    .headerLogo {
                        width: 100%;
                        padding: 20px;
                    }
                    .headerNav {
                        .headerNavLinks {
                            display: grid;
                            grid-template-columns: repeat(3, 150px);
                            text-align: center;
                        }
                    }
                }
                .carousel-wrapper{
                    margin-bottom: 0;
                    min-height: 400px;
                    .carousel-item{
                        .sliderContent {
                            flex-flow: column-reverse wrap;
                            align-content: center;
                            .sliderContentText {
                                justify-content: center;
                                align-content: center;
                                text-align: center;
                                width: 400px;
                                .headerTitle {
                                    margin-bottom: 15px;
                                    font-size: 20px;
                                    line-height: 20px;
                                    text-align: center;
                                }
                            }
                            .sliderContentImg {
                                margin-top: 15px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img {
                                    width: 180px;
                                    height: 180px;
                                    border: 8px solid rgb(107, 107, 107);
                                }
                            }
                        }
                        .arrow{
                            width: 70px;
                        }
                    }
                }
            }
        }
        @media (min-width: 611px) and (max-width: 911px) {
            header {
                .headerWrapperLogoNav {
                    flex-flow: column wrap;
                    .headerLogo {
                        width: 100%;
                        padding: 25px;
                    }
                    .headerNav {
                        .headerNavLinks {
                            display: grid;
                            grid-template-columns: repeat(6, 100px);
                            text-align: center;
                        }
                    }
                }
                .carousel-wrapper{
                    margin-top: 15px;
                    min-height: 225px;
                    .carousel-item{
                        .sliderContent {
                            .sliderContentText {
                                width: 50%;
                                .headerTitle {
                                    margin-bottom: 15px;
                                    font-size: 20px;
                                    line-height: 20px;
                                    // text-align: center;
                                }
                            }
                            .sliderContentImg {
                                width: 50%;
                                margin-top: 15px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img {
                                    width: 230px;
                                    height: 230px;
                                    border: 12px solid rgb(107, 107, 107);
                                }
                            }
                        }
                        .arrow{
                            width: 40px;
                        }
                    }
                }
            }
        }
    }


    .secondWrapper {
        background-color: $bgSecondWrapper;
        main {
            position: relative;
            max-width: 960px;
            margin: 0 auto;
            padding: 60px 0 30px;
            .mainCards {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-content: space-between;
                padding-bottom: 43px;
                border-bottom: $borderMainMiddle;
                .mainCard {
                    width: 225px;
                    height: 305px;
                    background-color: $bgMainCards;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    padding: 21px 33px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    img {
                        object-fit: cover;
                        width: 120px;
                        height: 120px;
                        border: none;
                    }
                    .mainTitleCards {
                        @include getMainTitleCards;
                    }
                    .mainTextCards {
                        @include getMainTextCards;
                    }
                    &:hover {
                        background-color: $bgMainCardsHover;
                        .mainTitleCards{
                            @include getMainTitleCardsHover;
                        }
                        .mainTextCards {
                            @include getMainTextCardsHover;
                        }
                    }
                }
            }
            .mainMiddle {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: -32px;
                .mainTitleMiddle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 12px; 
                    @include getMainMiddle;
                }
            }
            .mainFigures {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: space-between;
                padding-top: 28px;
                .mainFigure {
                    position: relative;
                    width: 300px;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: $borderMainFigure;
                    margin-bottom: 30px;
                    cursor: pointer;
                    img {
                        object-fit: cover;
                        width: 290px;
                        height: 190px;
                        border: none;
                    }
                    .mainFigCaption {
                        width: 100%;
                        height: 15.789%;
                        position: absolute;
                        bottom: 0;
                        @include getMainFigureCaption;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &:hover {
                        border: $borderMainFigureHover;
                        .mainFigCaption {
                            opacity: 0;
                        }
                    }
                }
            }
        }
        @media (max-width: 480px) {
            main {
                padding: 30px 0 15px;
                .mainCards {
                    flex-flow: column wrap;
                    align-content: center;
                }
                .mainFigures {
                    flex-flow: column wrap;
                    align-content: center;
                    .mainFigure {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        @media (min-width: 481px) and (max-width: 611px) {
            main {
                padding: 30px 0 15px;
                .mainCards {
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    align-content: space-around;
                }
                .mainFigures {
                    flex-flow: column wrap;
                    align-content: center;
                    .mainFigure {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        @media (min-width: 611px) and (max-width: 911px) {
            main {
                padding: 30px 0 15px;
                .mainCards {
                    display: grid;
                    grid-template-columns: repeat(2, 50%);
                    .mainCard {
                        margin: 10px auto;
                    }
                }
                .mainFigures {
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    .mainFigure {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }



    .thirdWrapper {
        border-bottom: $borderBottomThirdWrapper;
        background-color: $bgThirdWrapper;
        section {
            max-width: 960px;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: space-between;
            padding: 40px 0;
            .sectionCol {
                width: 225px;
                .sectionTitle {
                    margin-bottom: 30px;
                    @include getSectionTitle;
                }
            }
            .sectionFirstCol {
                .sectionFirstColPostTitle {
                    margin-bottom: 15px;
                    @include getSectionFirstColPostTitle;
                }
                .sectionFirstColAdmin {
                    margin-bottom: 10px;
                    @include getSectionFirstColAdmin;
                    .sectionFirstColAdminSpan {
                        @include getSectionFirstColAdminSpan;
                    }
                }
                .sectionFirstColData {
                    margin-bottom: 12px;
                    @include getSectionFirstColData;
                }
                .sectionFirstColText {
                    margin-bottom: 15px;
                    @include getSectionFirstColText;
                }
                .sectionFirstColLink {
                    @include getSectionFirstColLink;
                    &:hover {
                        @include getSectionFirstColLinkHover;
                    }
                }
            }
            .sectionSecondCol {
                .sectionSecondColLinks {
                    margin-top: -10px;
                    .sectionSecondColLink {
                        padding-top: 4.45px;
                        cursor: pointer;
                        @include getSectionSecondColLink;
                        border-bottom: $borderSectionSecondColLink;
                        .sectionSecondColLinkSpan {
                            @include getSectionSecondColLinkSpan;
                        }
                        &:hover {
                            @include getSectionSecondColLinkHover;
                        }
                    }
                }
            }
            .sectionThirdCol {
                .sectionThirdColText { 
                    @include getSectionThirdColText;
                    .sectionThirdColTextSpan {
                        @include getSectionThirdColTextSpan;
                    }
                }
                .sectionTopPart {
                    margin-bottom: 28px;
                }
            }
            .sectionFourthCol {
                .sectionFourthColLable {
                    @include getSectionFourthColLable;
                }
                .sectionFourthColInputText {
                    width: 100%;
                    padding: 11px 10px;
                    margin-bottom: 10px; 
                    @include getSectionFourthColInputText;
                }
                .sectionFourthColSubmit {
                    width: 75px;
                    height: 35px;
                    @include getSectionFourthColSubmit;
                    cursor: pointer;
                    &:hover {
                        @include getSectionFourthColSubmitHover;
                    }
                }
                .sectionMessageSize {
                    height: 80px;
                    resize: none;
                }
            }
        }
        @media (max-width: 480px) {
            section {
                flex-flow: column wrap;
                align-content: center;
                padding: 0 0 15px;
                .sectionCol {
                    width: 310px;
                    margin-top: 10px;
                    padding: 10px;
                    background-color: rgba($color: #000000, $alpha: .1);
                    .sectionTitle {
                        margin-bottom: 15px;
                    }
                }
                .sectionFirstCol {
                    .sectionFirstColPostTitle {
                        margin-bottom: 10px;
                    }
                    .sectionFirstColAdmin {
                        margin-bottom: 6px;
                    }
                    .sectionFirstColData {
                        margin-bottom: 6px;
                    }
                    .sectionFirstColText {
                        margin-bottom: 7px;
                    }
                }
                .sectionSecondCol {
                    .sectionSecondColLinks {
                        margin-top: -15px;
                    }
                }
                .sectionThirdCol {
                    .sectionTopPart {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        @media (min-width: 481px) and (max-width: 611px) {
            section {
                flex-flow: row wrap;
                justify-content: space-evenly;
                align-content: center;
                padding: 0 0 15px;
                .sectionCol {
                    width: 220px;
                    margin-top: 10px;
                    padding: 10px;
                    .sectionTitle {
                        margin-bottom: 15px;
                    }
                }
                .sectionFirstCol {
                    .sectionFirstColPostTitle {
                        margin-bottom: 10px;
                    }
                    .sectionFirstColAdmin {
                        margin-bottom: 6px;
                    }
                    .sectionFirstColData {
                        margin-bottom: 6px;
                    }
                    .sectionFirstColText {
                        margin-bottom: 7px;
                    }
                }
                .sectionSecondCol {
                    .sectionSecondColLinks {
                        margin-top: -10px;
                    }
                }
                .sectionThirdCol {
                    .sectionTopPart {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        @media (min-width: 611px) and (max-width: 911px) {
            section {
                // flex-flow: row wrap;
                // justify-content: space-evenly;
                // align-content: center;
                display: grid;
                grid-template-columns: repeat(2, 50%);
                padding: 0 0 15px;
                .sectionCol {
                    width: 70%;
                    margin: 10px auto;
                    padding: 10px;
                    .sectionTitle {
                        margin-bottom: 15px;
                    }
                }
                .sectionFirstCol {
                    .sectionFirstColPostTitle {
                        margin-bottom: 10px;
                    }
                    .sectionFirstColAdmin {
                        margin-bottom: 6px;
                    }
                    .sectionFirstColData {
                        margin-bottom: 6px;
                    }
                    .sectionFirstColText {
                        margin-bottom: 7px;
                    }
                }
                .sectionSecondCol {
                    .sectionSecondColLinks {
                        margin-top: -10px;
                    }
                }
                .sectionThirdCol {
                    .sectionTopPart {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }



    .fourthWrapper {
        background-color: $bgFourthWrapper;
        footer {
            max-width: 960px;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: space-between;
            padding: 23px 0 13px;
            .footerText {
                margin-bottom: 10px;
                @include getFooterText;
            }
        }
    }
}





