@import "normolize.css";
@font-face {
  font-family: "Georgia", serif;
  src: url("../assets/fonts/ofont.ru_Georgia.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

.mainWrapper .firstWrapper {
  border-top: 5px solid #76c38f;
  background-color: #290000;
}
.mainWrapper .firstWrapper header {
  display: flex;
  flex-flow: column wrap;
  max-width: 960px;
  margin: 0 auto;
}
.mainWrapper .firstWrapper header .headerWrapperLogoNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainWrapper .firstWrapper header .headerWrapperLogoNav .headerLogo {
  padding: 40px 0;
}
.mainWrapper .firstWrapper header .headerWrapperLogoNav .headerLogo .headerLogoTop {
  font-family: "Georgia", serif;
  font-size: 28px;
  line-height: 28px;
  color: white;
}
.mainWrapper .firstWrapper header .headerWrapperLogoNav .headerLogo .headerLogoBottom {
  font-family: "Georgia", serif;
  font-size: 11px;
  line-height: 11px;
  color: #979797;
}
.mainWrapper .firstWrapper header .headerWrapperLogoNav .headerNav .headerNavLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainWrapper .firstWrapper header .headerWrapperLogoNav .headerNav .headerNavLinks .headerNavLink {
  padding: 11px 18px;
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 15.6px;
  color: white;
}
.mainWrapper .firstWrapper header .headerWrapperLogoNav .headerNav .headerNavLinks .headerNavLink:hover {
  padding: 11px 18px;
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 15.6px;
  color: white;
  background-color: #76c38f;
  border-radius: 10px;
}
.mainWrapper .firstWrapper header .headerWrapperLogoNav .headerNav .headerNavLinks .active {
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 15.6px;
  color: white;
  background-color: #76c38f;
  border-radius: 10px;
}
.mainWrapper .firstWrapper header .carousel-wrapper {
  min-height: 430px;
  width: 100%;
  margin: 0 auto 50px;
  position: relative;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 60px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentText {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-content: center;
  width: 300px;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentText .headerTitle {
  margin-bottom: 30px;
  font-family: "Georgia", serif;
  font-size: 46px;
  line-height: 46px;
  color: white;
  font-weight: 400;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentText .headerText {
  margin-bottom: 20px;
  font-family: "Georgia", serif;
  font-size: 12px;
  line-height: 19.2px;
  color: #979797;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentText .headerLink {
  padding: 11px 16px;
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 15.6px;
  color: white;
  background-color: #76c38f;
  border-radius: 10px;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentText .headerLink:hover {
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 15.6px;
  color: #303030;
  background-color: #76c38f;
  border-radius: 10px;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentImg img {
  width: 430px;
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 25px solid #6b6b6b;
  border-radius: 100%;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .arrow {
  display: block;
  position: absolute;
  top: 50%;
  width: 15px;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .arrow p {
  position: absolute;
  top: 40%;
  color: #76c38f;
  font-size: 25px;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .arrow p:hover {
  color: white;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .arrow.arrow-prev {
  left: 0;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .arrow.arrow-prev p {
  position: absolute;
  left: 45%;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .arrow.arrow-next {
  right: 0;
}
.mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .arrow.arrow-next p {
  position: absolute;
  right: 45%;
}
.mainWrapper .firstWrapper header .carousel-wrapper [id^=target-item] {
  display: none;
}
.mainWrapper .firstWrapper header .carousel-wrapper .item-1 {
  z-index: 2;
  opacity: 1;
}
.mainWrapper .firstWrapper header .carousel-wrapper *:target ~ .item-1 {
  opacity: 0;
}
.mainWrapper .firstWrapper header .carousel-wrapper #target-item-1:target ~ .item-1 {
  opacity: 1;
}
.mainWrapper .firstWrapper header .carousel-wrapper #target-item-2:target ~ .item-2, .mainWrapper .firstWrapper header .carousel-wrapper #target-item-3:target ~ .item-3, .mainWrapper .firstWrapper header .carousel-wrapper #target-item-4:target ~ .item-4 {
  z-index: 3;
  opacity: 1;
}
@media (max-width: 480px) {
  .mainWrapper .firstWrapper header .headerWrapperLogoNav {
    flex-flow: column wrap;
  }
  .mainWrapper .firstWrapper header .headerWrapperLogoNav .headerLogo {
    padding: 10px 0;
  }
  .mainWrapper .firstWrapper header .headerWrapperLogoNav .headerNav .headerNavLinks {
    flex-flow: column wrap;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper {
    margin-bottom: 0;
    min-height: 340px;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent {
    flex-flow: column-reverse wrap;
    align-content: center;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentText {
    justify-content: center;
    align-content: center;
    width: 200px;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentText .headerTitle {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentText .headerText {
    display: none;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentImg {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentImg img {
    width: 180px;
    height: 180px;
    border: 8px solid #6b6b6b;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .arrow {
    width: 50px;
  }
}
@media (min-width: 481px) and (max-width: 611px) {
  .mainWrapper .firstWrapper header .headerWrapperLogoNav {
    flex-flow: column wrap;
  }
  .mainWrapper .firstWrapper header .headerWrapperLogoNav .headerLogo {
    width: 100%;
    padding: 20px;
  }
  .mainWrapper .firstWrapper header .headerWrapperLogoNav .headerNav .headerNavLinks {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    text-align: center;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper {
    margin-bottom: 0;
    min-height: 400px;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent {
    flex-flow: column-reverse wrap;
    align-content: center;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentText {
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 400px;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentText .headerTitle {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentImg {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentImg img {
    width: 180px;
    height: 180px;
    border: 8px solid #6b6b6b;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .arrow {
    width: 70px;
  }
}
@media (min-width: 611px) and (max-width: 911px) {
  .mainWrapper .firstWrapper header .headerWrapperLogoNav {
    flex-flow: column wrap;
  }
  .mainWrapper .firstWrapper header .headerWrapperLogoNav .headerLogo {
    width: 100%;
    padding: 25px;
  }
  .mainWrapper .firstWrapper header .headerWrapperLogoNav .headerNav .headerNavLinks {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    text-align: center;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper {
    margin-top: 15px;
    min-height: 225px;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentText {
    width: 50%;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentText .headerTitle {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 20px;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentImg {
    width: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .sliderContent .sliderContentImg img {
    width: 230px;
    height: 230px;
    border: 12px solid #6b6b6b;
  }
  .mainWrapper .firstWrapper header .carousel-wrapper .carousel-item .arrow {
    width: 40px;
  }
}
.mainWrapper .secondWrapper {
  background-color: #660000;
}
.mainWrapper .secondWrapper main {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0 30px;
}
.mainWrapper .secondWrapper main .mainCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-bottom: 43px;
  border-bottom: 3px solid #303030;
}
.mainWrapper .secondWrapper main .mainCards .mainCard {
  width: 225px;
  height: 305px;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 21px 33px;
  margin-bottom: 20px;
  cursor: pointer;
}
.mainWrapper .secondWrapper main .mainCards .mainCard img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 120px;
  height: 120px;
  border: none;
}
.mainWrapper .secondWrapper main .mainCards .mainCard .mainTitleCards {
  font-family: "Georgia", serif;
  font-size: 32px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 21px;
}
.mainWrapper .secondWrapper main .mainCards .mainCard .mainTextCards {
  font-family: "Georgia", serif;
  font-size: 12px;
  line-height: 16.8px;
  color: #979797;
  text-align: center;
}
.mainWrapper .secondWrapper main .mainCards .mainCard:hover {
  background-color: #76c38f;
}
.mainWrapper .secondWrapper main .mainCards .mainCard:hover .mainTitleCards {
  font-family: "Georgia", serif;
  font-size: 32px;
  line-height: 32px;
  color: white;
  text-align: center;
  font-weight: 400;
}
.mainWrapper .secondWrapper main .mainCards .mainCard:hover .mainTextCards {
  font-family: "Georgia", serif;
  font-size: 12px;
  line-height: 16.8px;
  color: white;
  text-align: center;
}
.mainWrapper .secondWrapper main .mainMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -32px;
}
.mainWrapper .secondWrapper main .mainMiddle .mainTitleMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  font-family: "Georgia", serif;
  font-size: 32px;
  line-height: 38.4px;
  color: white;
  background-color: #303030;
  border-radius: 10px;
  font-weight: 400;
  text-align: center;
}
.mainWrapper .secondWrapper main .mainFigures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-top: 28px;
}
.mainWrapper .secondWrapper main .mainFigures .mainFigure {
  position: relative;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  margin-bottom: 30px;
  cursor: pointer;
}
.mainWrapper .secondWrapper main .mainFigures .mainFigure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 290px;
  height: 190px;
  border: none;
}
.mainWrapper .secondWrapper main .mainFigures .mainFigure .mainFigCaption {
  width: 100%;
  height: 15.789%;
  position: absolute;
  bottom: 0;
  font-family: "Georgia", serif;
  font-size: 14px;
  line-height: 16.8px;
  color: white;
  background-color: #151515;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainWrapper .secondWrapper main .mainFigures .mainFigure:hover {
  border: 5px solid #76c38f;
}
.mainWrapper .secondWrapper main .mainFigures .mainFigure:hover .mainFigCaption {
  opacity: 0;
}
@media (max-width: 480px) {
  .mainWrapper .secondWrapper main {
    padding: 30px 0 15px;
  }
  .mainWrapper .secondWrapper main .mainCards {
    flex-flow: column wrap;
    align-content: center;
  }
  .mainWrapper .secondWrapper main .mainFigures {
    flex-flow: column wrap;
    align-content: center;
  }
  .mainWrapper .secondWrapper main .mainFigures .mainFigure {
    margin-bottom: 15px;
  }
}
@media (min-width: 481px) and (max-width: 611px) {
  .mainWrapper .secondWrapper main {
    padding: 30px 0 15px;
  }
  .mainWrapper .secondWrapper main .mainCards {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
  }
  .mainWrapper .secondWrapper main .mainFigures {
    flex-flow: column wrap;
    align-content: center;
  }
  .mainWrapper .secondWrapper main .mainFigures .mainFigure {
    margin-bottom: 15px;
  }
}
@media (min-width: 611px) and (max-width: 911px) {
  .mainWrapper .secondWrapper main {
    padding: 30px 0 15px;
  }
  .mainWrapper .secondWrapper main .mainCards {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .mainWrapper .secondWrapper main .mainCards .mainCard {
    margin: 10px auto;
  }
  .mainWrapper .secondWrapper main .mainFigures {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .mainWrapper .secondWrapper main .mainFigures .mainFigure {
    margin-bottom: 15px;
  }
}
.mainWrapper .thirdWrapper {
  border-bottom: 2px groove #3a3a3a;
  background-color: #303030;
}
.mainWrapper .thirdWrapper section {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 40px 0;
}
.mainWrapper .thirdWrapper section .sectionCol {
  width: 225px;
}
.mainWrapper .thirdWrapper section .sectionCol .sectionTitle {
  margin-bottom: 30px;
  font-family: "Georgia", serif;
  font-size: 16px;
  line-height: 19.2px;
  color: white;
  font-weight: 400;
}
.mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColPostTitle {
  margin-bottom: 15px;
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 15.6px;
  color: #76c38f;
  font-weight: 400;
}
.mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColAdmin {
  margin-bottom: 10px;
  font-family: "Georgia", serif;
  font-size: 10px;
  line-height: 12px;
  color: #76c38f;
  font-weight: 400;
}
.mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColAdmin .sectionFirstColAdminSpan {
  font-family: "Georgia", serif;
  font-size: 10px;
  line-height: 12px;
  color: #666666;
  font-weight: 400;
}
.mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColData {
  margin-bottom: 12px;
  font-family: "Georgia", serif;
  font-size: 10px;
  line-height: 12px;
  color: #979797;
  font-weight: 400;
}
.mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColText {
  margin-bottom: 15px;
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 20.8px;
  color: #979797;
}
.mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColLink {
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 15.6px;
  color: #76c38f;
}
.mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColLink:hover {
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 15.6px;
  color: white;
}
.mainWrapper .thirdWrapper section .sectionSecondCol .sectionSecondColLinks {
  margin-top: -10px;
}
.mainWrapper .thirdWrapper section .sectionSecondCol .sectionSecondColLinks .sectionSecondColLink {
  padding-top: 4.45px;
  cursor: pointer;
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 30px;
  color: #76c38f;
  border-bottom: 1px solid #404040;
}
.mainWrapper .thirdWrapper section .sectionSecondCol .sectionSecondColLinks .sectionSecondColLink .sectionSecondColLinkSpan {
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 30px;
  color: #979797;
}
.mainWrapper .thirdWrapper section .sectionSecondCol .sectionSecondColLinks .sectionSecondColLink:hover {
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 30px;
  color: white;
}
.mainWrapper .thirdWrapper section .sectionThirdCol .sectionThirdColText {
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 20.8px;
  color: #979797;
}
.mainWrapper .thirdWrapper section .sectionThirdCol .sectionThirdColText .sectionThirdColTextSpan {
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 20.8px;
  color: #76c38f;
}
.mainWrapper .thirdWrapper section .sectionThirdCol .sectionTopPart {
  margin-bottom: 28px;
}
.mainWrapper .thirdWrapper section .sectionFourthCol .sectionFourthColLable {
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 15.6px;
  color: #979797;
}
.mainWrapper .thirdWrapper section .sectionFourthCol .sectionFourthColInputText {
  width: 100%;
  padding: 11px 10px;
  margin-bottom: 10px;
  background-color: #222222;
  border-radius: 10px;
  border: none;
}
.mainWrapper .thirdWrapper section .sectionFourthCol .sectionFourthColSubmit {
  width: 75px;
  height: 35px;
  font-family: "Georgia", serif;
  font-size: 12px;
  line-height: 14.4px;
  color: white;
  background-color: #76c38f;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.mainWrapper .thirdWrapper section .sectionFourthCol .sectionFourthColSubmit:hover {
  font-family: "Georgia", serif;
  font-size: 12px;
  line-height: 14.4px;
  color: #303030;
  background-color: #76c38f;
  border-radius: 10px;
}
.mainWrapper .thirdWrapper section .sectionFourthCol .sectionMessageSize {
  height: 80px;
  resize: none;
}
@media (max-width: 480px) {
  .mainWrapper .thirdWrapper section {
    flex-flow: column wrap;
    align-content: center;
    padding: 0 0 15px;
  }
  .mainWrapper .thirdWrapper section .sectionCol {
    width: 310px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .mainWrapper .thirdWrapper section .sectionCol .sectionTitle {
    margin-bottom: 15px;
  }
  .mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColPostTitle {
    margin-bottom: 10px;
  }
  .mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColAdmin {
    margin-bottom: 6px;
  }
  .mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColData {
    margin-bottom: 6px;
  }
  .mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColText {
    margin-bottom: 7px;
  }
  .mainWrapper .thirdWrapper section .sectionSecondCol .sectionSecondColLinks {
    margin-top: -15px;
  }
  .mainWrapper .thirdWrapper section .sectionThirdCol .sectionTopPart {
    margin-bottom: 10px;
  }
}
@media (min-width: 481px) and (max-width: 611px) {
  .mainWrapper .thirdWrapper section {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    padding: 0 0 15px;
  }
  .mainWrapper .thirdWrapper section .sectionCol {
    width: 220px;
    margin-top: 10px;
    padding: 10px;
  }
  .mainWrapper .thirdWrapper section .sectionCol .sectionTitle {
    margin-bottom: 15px;
  }
  .mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColPostTitle {
    margin-bottom: 10px;
  }
  .mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColAdmin {
    margin-bottom: 6px;
  }
  .mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColData {
    margin-bottom: 6px;
  }
  .mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColText {
    margin-bottom: 7px;
  }
  .mainWrapper .thirdWrapper section .sectionSecondCol .sectionSecondColLinks {
    margin-top: -10px;
  }
  .mainWrapper .thirdWrapper section .sectionThirdCol .sectionTopPart {
    margin-bottom: 10px;
  }
}
@media (min-width: 611px) and (max-width: 911px) {
  .mainWrapper .thirdWrapper section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 0 0 15px;
  }
  .mainWrapper .thirdWrapper section .sectionCol {
    width: 70%;
    margin: 10px auto;
    padding: 10px;
  }
  .mainWrapper .thirdWrapper section .sectionCol .sectionTitle {
    margin-bottom: 15px;
  }
  .mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColPostTitle {
    margin-bottom: 10px;
  }
  .mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColAdmin {
    margin-bottom: 6px;
  }
  .mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColData {
    margin-bottom: 6px;
  }
  .mainWrapper .thirdWrapper section .sectionFirstCol .sectionFirstColText {
    margin-bottom: 7px;
  }
  .mainWrapper .thirdWrapper section .sectionSecondCol .sectionSecondColLinks {
    margin-top: -10px;
  }
  .mainWrapper .thirdWrapper section .sectionThirdCol .sectionTopPart {
    margin-bottom: 10px;
  }
}
.mainWrapper .fourthWrapper {
  background-color: #2b2b2b;
}
.mainWrapper .fourthWrapper footer {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 23px 0 13px;
}
.mainWrapper .fourthWrapper footer .footerText {
  margin-bottom: 10px;
  font-family: "Georgia", serif;
  font-size: 13px;
  line-height: 13px;
  color: #979797;
}/*# sourceMappingURL=style.css.map */