//Background colors:
// Basic 
$bgFirstWrapper: rgb(41, 0, 0);
$bgSecondWrapper: rgb(102, 0, 0);
$bgThirdWrapper: rgb(48, 48, 48);
$bgFourthWrapper: rgb(43, 43, 43);
// Header
$bgHeaderNavHover: rgb(118, 195, 143);
$bgHeaderLink: rgb(118, 195, 143);
// Main
$bgMainCards: rgb(255, 255, 255);
$bgMainCardsHover: rgb(118, 195, 143);
$bgMainTitleMiddle: rgb(48, 48, 48);
$bgMainFigureCaption: rgb(21, 21, 21);
// Section
$bgSectionFourthColInputText: rgb(34, 34, 34);
$bgSectionFourthColSubmit: rgb(118, 195, 143);

// Borders properties:
// Basic 
$borderTopFirstWrapper: 5px solid rgb(118, 195, 143);
$borderBottomThirdWrapper: 2px groove rgb(58, 58, 58);
// Header
$borderHeader: 25px solid rgb(107, 107, 107);
$borderRadiusHeader: 100%;
$borderRadiusHeaderNavHover: 10px;
$borderRadiusHeaderLink: 10px;
// Main
$borderMainMiddle: 3px solid rgb(48, 48, 48);
$borderRadiusMainTitleMiddle: 10px;
$borderMainFigure: 5px solid rgb(255, 255, 255);
$borderMainFigureHover: 5px solid rgb(118, 195, 143);
// Section
$borderSectionSecondColLink: 1px solid rgb(64, 64, 64);
$borderRadiusSectionFourthColInputText: 10px;
$borderRadiusSectionFourthColSubmit: 10px;

// Text colors:
// Header
$colorHeaderLogoTop: rgb(255, 255, 255);
$colorHeaderLogoBottom: rgb(151, 151, 151);
$colorHeaderNav: rgb(255, 255, 255);
$colorHeaderTitle: rgb(255, 255, 255);
$colorHeaderText: rgb(151, 151, 151);
$colorHeaderLink: rgb(255, 255, 255);
$colorHeaderLinkHover: rgb(48, 48, 48);
// Main
$colorMainTitleCards: rgb(51, 51, 51);
$colorMainTitleCardsHover: rgb(255, 255, 255);
$colorMainTextCards: rgb(151, 151, 151);
$colorMainTextCardsHover: rgb(255, 255, 255);
$colorMainTitleMiddle: rgb(255, 255, 255);
$colorMainFigureCaption: rgb(255, 255, 255);
// Section
$colorSectionTitle: rgb(255, 255, 255);
$colorSectionFirstColPostTitle: rgb(118, 195, 143);
$colorSectionFirstColAdmin: rgb(118, 195, 143);
$colorSectionFirstColAdminSpan: rgb(102, 102, 102);
$colorSectionFirstColData: rgb(151, 151, 151);
$colorSectionFirstColText: rgb(151, 151, 151);
$colorSectionFirstColLink: rgb(118, 195, 143);
$colorSectionFirstColLinkHover: rgb(255, 255, 255);
$colorSectionSecondColLink: rgb(118, 195, 143);
$colorSectionSecondColLinkHover: rgb(255, 255, 255);
$colorSectionSecondColLinkSpan: rgb(151, 151, 151);
$colorSectionThirdColText: rgb(151, 151, 151);
$colorSectionThirdColTextSpan: rgb(118, 195, 143);
$colorSectionFourthColLable: rgb(151, 151, 151);
$colorSectionFourthColSubmit: rgb(255, 255, 255);
$colorSectionFourthColSubmitHover: rgb(48, 48, 48);
// Footer
$colorFooterText: rgb(151, 151, 151);

// Font families
$fontFamilyBasic: 'Georgia', serif;

// Font properties:
// Header
$fontSizeHeaderLogoTop: 28px;
$lineHeightHeaderLogoTop: 28px;
$fontSizeHeaderLogoBottom: 11px;
$lineHeightHeaderLogoBottom: 11px;
$fontSizeHeaderNav: 13px;
$lineHeightHeaderNav: 15.6px;
$fontSizeHeaderTitle: 46px;
$lineHeightHeaderTitle: 46px;
$fontSizeHeaderText: 12px;
$lineHeightHeaderText: 19.2px;
$fontSizeHeaderLink: 13px;
$lineHeightHeaderLink: 15.6px;
// Main
$fontSizeMainTitleCards: 32px;
$lineHeightMainTitleCards: 32px;
$fontSizeMainTextCards: 12px;
$lineHeightMainTextCards: 16.8px;
$fontSizeMainTitleMiddle: 32px;
$lineHeightMainTitleMiddle: 38.4px;
$fontSizeMainFigureCaption: 14px;
$lineHeightMainFigureCaption: 16.8px;
// Section
$fontSizeSectionTitle: 16px;
$lineHeightSectionTitle: 19.2px;
$fontSizeSectionFirstColPostTitle: 13px;
$lineHeightSectionFirstColPostTitle: 15.6px;
$fontSizeSectionFirstColAdmin: 10px;
$lineHeightSectionFirstColAdmin: 12px;
$fontSizeSectionFirstColAdminSpan: 10px;
$lineHeightSectionFirstColAdminSpan: 12px;
$fontSizeSectionFirstColData: 10px;
$lineHeightSectionFirstColData: 12px;
$fontSizeSectionFirstColText: 13px;
$lineHeightSectionFirstColText: 20.8px;
$fontSizeSectionFirstColLink: 13px;
$lineHeightSectionFirstColLink: 15.6px;
$fontSizeSectionSecondColLink: 13px;
$lineHeightSectionSecondColLink: 30px;
$fontSizeSectionThirdColText: 13px;
$lineHeightSectionThirdColText: 20.8px;
$fontSizeSectionFourthColLable: 13px;
$lineHeightSectionFourthColLable: 15.6px;
$fontSizeSectionFourthColSubmit: 12px;
$lineHeightSectionFourthColSubmit: 14.4px;
// Footer
$fontSizeFooterText: 13px;
$lineHeightFooterText: 13px;








